:root {
  /* Шрифти */
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  --accent-cl-logo: #000000;
  --accent-color: #2196F3;

  /* Світла тема тексту */
  --primary-txt-light: #757575;
  --secondary-txt-light: #212121;

  /* Темна тема тексту */
  --primary-txt-dark: #FFFFFF;
  --secondary-txt-dark: rgba(255, 255, 255, 0.6);

  /* Світла тема фону */
  --primary-bg-light: #E5E5E5;
  --secondary-bg-light: #F5F4FA;
  --light-bg: #FFFFFF;
  
  /* Темна тема фону */
  --primary-bg-dark: #2F303A;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  background-color: var(--primary-bg-light);
  color: var(--primary-txt-light);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child {
  margin-bottom: 0;
}

.list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.section {
  margin-top: 94px;
  margin-bottom: 94px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Header */
.header {
  border: 1px solid #ECECEC;
  padding-top: 24px;
  padding-bottom: 25px;

  background-color: var(--light-bg);
}

.header-logo {
  margin-right: 93px;
}

.header .container {
  display: flex;
  align-items: center;
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--accent-color);
}

.logo-accent {
  color: var(--accent-cl-logo);
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-item {
  margin-right: 50px;
}

.nav-item:last-child {
  margin: 0;
}

.auth-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.auth-item {
  margin-right: 50px;
}

.auth-item:last-child {
  margin: 0;
}

.nav-link,
.auth-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-link {
  color: var(--secondary-txt-light);
}

.auth-link {
  color: var(--primary-txt-light);
}

.nav-link:hover,
.nav-link:focus,
.auth-link:hover,
.auth-link:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

/* Hero */
.hero {
  padding: 200px 0;
  
  background-color: var(--primary-bg-dark);
}

.hero-tittle {
  width: 696px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;

  color: var(--primary-txt-dark);
}

.hero-btn {
  width: 200px;
  height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  color: var(--primary-txt-dark);
  background-color: var(--accent-color);
}

/* Specifics */
.feature-tittle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--secondary-txt-light);
}

/* Examples, Team */
.team {
  background-color: var(--secondary-bg-light);
}

.tittle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--secondary-txt-light);
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--secondary-txt-light);
}

.team-profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;

  color: var(--primary-txt-light);
}

/* Portfolio */
.menu-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;

  background-color: var(--secondary-bg-light);
  color: var(--secondary-txt-light);
}

.menu-btn:hover,
.menu-btn:focus {
  background-color: var(--accent-color);
  color: var(--primary-txt-dark);
}

.card-tittle {
  font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;

color: var(--secondary-txt-light);
}

.card-txt {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;

  color: var(--primary-txt-light);
}

/* Footer */
.footer {
  background-color: var(--primary-bg-dark);
}

.footer .logo-accent {
  color: var(--primary-txt-dark);
}

.address {
  font-style: normal;
}

.place-link {
  color: var(--primary-txt-dark);
}

.footer-link {
  color: var(--secondary-txt-dark);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}

.footer-item {
  color: var(--primary-txt-dark);
}